<div>
    <div class="row">
		<div class="col-md-12">
			<h1>{{apiname}}</h1>
		</div>
	</div>
	<div class="row">
		<div>
			<table ng-if="data!='null'" class="table table-striped" style="border : 1px solid #ddd;">
				<thead >
					<tr>
						<th ng-if="!arguments" ng-repeat="(key, value) in data[0]" ng-if=" key!='links'">
							{{::key }}
						</th>
						<th ng-if="arguments" ng-repeat="value in arguments" ng-if=" key!='links'">
							{{::value }}
						</th>
						<th class="text-center no-padding td-button td-button-add width-60"  colspan="3" >
							<div ng-click="add()" 
								data-toggle="tooltip" data-placement="top" title="new" tooltip>
								<span ng-if="apiObjectHave('get')">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
								</span>		
							</div>							
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in data" >


						<td ng-if="!arguments" ng-repeat="(key, value) in item" ng-if="key!='links'">
							<span ng-if="isObject(item[key])">
								<a href="#/{{item[key].apiName}}/{{item[key].id}}">{{ item[key].name || item[key] }}</a>
							</span>
							<span ng-if="isArray(item[key])">
								<ul class="list-inline" >
									<li ng-repeat="(key2, value2) in item[key]">
										<a href="#/{{value2.apiName}}/{{value2.id}}">{{ value2.name || value2}}</a><span ng-if="!$last">,</span>
									</li>
								</ul>
							</span>
							<span ng-if="!isObject(item[key]) && !isArray(item[key])">
								{{ item[key] }}
							</span>
						</td>	

						
						<td ng-if="arguments" ng-repeat="key in arguments" ng-if="key!='links'">
							<span ng-if="isObject(item[key])">
								<a href="#/{{item[key].apiName}}/{{item[key].id}}">{{ item[key].name || item[key] }}</a>
							</span>
							<span ng-if="isArray(item[key])">
								<ul class="list-inline" >
									<li ng-repeat="(key2, value2) in item[key]">
										<a href="#/{{value2.apiName}}/{{value2.id}}">{{ value2.name || value2}}</a>
									</li>
								</ul>
							</span>
							<span ng-if="!isObject(item[key]) && !isArray(item[key])">
								{{ item[key] }}
							</span>
						 </td>


						<td class="text-center no-padding td-button td-button-detail width-60" ng-click="see(item)">
							<div data-toggle="tooltip" data-placement="top" title="details" tooltip>
								<span ng-if="apiObjectHave('get')">
									<span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
								</span>	
							</div>							
						</td>
						<td class="text-center no-padding td-button td-button-edit width-60" ng-click="edit(item)">
							<div data-toggle="tooltip" data-placement="top" title="edit" tooltip>
								<span ng-if="apiObjectHave('put')">
									<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
								</span>		
							</div>			
						</td>
						<td class="text-center no-padding td-button td-button-delete width-60" ng-click="del(item)">
							<div data-toggle="tooltip" data-placement="top" title="delete" tooltip>
								<span ng-if="apiObjectHave('del')">
									<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
								</span>	
							</div>					
						</td>
					</tr>
				</tbody>
			</table>
			<div class="text-center" ng-if="data=='null'">
				No {{apiname}} entries 
				<div class="text-center no-padding td-button td-button-add width-60"  style="margin : auto;">
					<div ng-click="add()" 
						data-toggle="tooltip" data-placement="top" title="new" tooltip>
						<span ng-if="apiObjectHave('get')">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						</span>		
					</div>							
				</div>
			</div>
		</div>
	</div>
</div>